
<div id="items" class="container">
  <h1 class="text-center mt-5 mb-5">Bienvenue sur votre panier</h1>
  <div class="row">
    <% current_user.potential_items.each do |item|%>
    <%= render "item", item: item %>
    <% end %>
  </div>
  <h3 class="text-center mt-5"> Total = <%=@cart_price%> € <br/>
    <a href="#" class="card-link btn btn-danger mt-4"> Passer la commande </a></h3>
</div>
