<div class=container>
    <div class="text-center">
        <h1 class="mb-4">A propos de Catagram</h1>
        <div class="row mb-4">
            <img src="https://media.giphy.com/media/EU2mR9AQs3AEo/giphy.gif" alt="grumpy cat" class="col-6"/>
            <p class="col-5 display-3 d-flex align-items-center">IN MEMORIAM</p>
        </div>
        <div class="row">
            <div class="col-5 d-flex align-items-center text-justify">
                <div>
                    <p>
                        Nous sommes un petite équipe travaillant dans la cordialité et la bonne entente.
                    </p>
                    <ul>
                        <li>FOREST Lionel, le porteur de projet.</li>
                        <li>GAGNAIRE Noël, le maître des bases de données</li>
                        <li>METZ Anne-Tahina, la chef de projet</li>
                        <li>ROBERT Cédric, le mercenaire du Frontend</li>
                        <li>VEYRARD Baptiste, le fan de la bouffe thaï</li>
                    </ul>
                </div>
            </div>
            <img src="https://media.giphy.com/media/yHKsk236fdmcU/giphy.gif" alt="moron vs asshole" class="col-6"/>
            
        </div>
</div>