<div id="welcome-banner" class="container-fluid">
    <div class="panel panel1">
        <p>Nous</p>
        <p><span class="front">Bienvenue</span><span class="msg">vendons</span></p>
        <p>des photos</p>
    </div>
    <div class="panel panel2">
        <p>Des centaines </p>
        <p><span class="front">sur</span><span class="msg">de</span></p>
        <p>références</p>
    </div>
    <div class="panel panel3">
        <p>Les chats les plus</p>
        <p><span class="front">Catagram</span><span class="msg"> mignons</span></p>
        <p>du web</p>
    </div>
</div>