<div id="welcome-banner" class="container-fluid"></div>
<div class="container">
    <div class="row">
    <% @items.each do |item|%>
    <%= render "item", item: item %>
    <% end %>
    </div>
</div>