main
{
    margin-bottom: 70px;
}

/************************************************
*                                               *
*                    Navbar                     *
*                                               *
************************************************/

nav.navbar, .navbar .btn-primary
{
    font-size: 1.5rem;
}

a.navbar-brand
{
    font-size: 2rem;
}

#navbarColor03
{
    justify-content: flex-end;
}

ul.navbar-nav
{
    align-items: center;
}

.navbar li
{
    margin: 0 20px;
}


/************************************************
*                                               *
*                 Index Cards                   *
*                                               *
************************************************/

.card.index .card-header
{
    font-size: 2em;
    font-weight: bold;
}

.card.index .price
{
    color: var(--primary);
    font-size: 1.5em;
    font-weight: bold;
}

.card.index img
{
    height: 200px;
    width: 100%;
    display: block;
}

.card.index .button
{
    text-align: center;
}

.card.index .button i
{
    margin-right: 5px;
}
