<footer class="py-5 bg-secondary">
    <div class="container-fluid">
        <p class="m-0 text-center text-dark-grey">Copyright <a href="https://github.com/Tahina93/Catagram">&copy; Lyon By Night Team</a><br/>
        Lyon 2019 <br/>
        <a href="#">Mentions légales</a></p>
    </div>
</footer>